<!DOCTYPE html>
<html>
  <head>

    <title>Deep Cube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
      href="/static/main.css">



    <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <![endif]-->



    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
      href="/static/main.css">



  </head>
  <body>
    
    
<div class="container">
  <center>
  <h2>Advanced Software Engineering Course Project Example——DeepCubeA</h2>
	<div id="program_container" class="container">
		<div id="solution_container" class="container">
			<button disabled id="first_state" type="button">&#060;&#060;</button>
			<button disabled id="prev_state" type="button">&#060;</button>
			<button disabled id="next_state" type="button">&#062;</button>
			<button disabled id="last_state" type="button">&#062;&#062;</button>
			<h4 id="solution_text">Solution:</h4>
		</div>

		<div id="cube_div" class="container" style="padding: 60px">
			<section class="cube_container">
				<div id="cube">
					<figure id="front" class="front">
					</figure>
					<figure id="back" class="back">
					</figure>
					<figure id="right" class="right">
					</figure>
					<figure id="left" class="left">
					</figure>
					<figure id="top" class="top">
					</figure>
					<figure id="bottom" class="bottom">
					</figure>
				</div>
			</section>
		</div>

		<br>

		<div id="button_container" class="container">
			<button disabled id="scramble" type="button">Scramble</button>
			<button disabled id="solve" type="button">Solve!</button>
		</div>
	</div>
  </center>
</div>

<br>
<center>
	<h4>
		Use the mouse to turn the cube. &#13;&#10;
	</h4>
	<h4>
		Turn the faces with the U/D/L/R/B/F keys.
		Hold shift to turn faces couter-clockwise.
	</h4>
	<h4>
		Press scramble to randomly scramble the cube.
		Press solve to solve the cube using deep learning!
	</h4>
</center>

<br>
<div class="well well-lg">
	<center>
	<span class="paper-year">ASE TA group. 2019</span>
	</center>
</div>




    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--script src="/static/jquery.min.js"></script-->
<script src="/static/main.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>z
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
